*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}
:root {
    --primary-color: #333333; /* Charcoal */
    --secondary-color: #2E8B57; /* Forest Green */
    --accent-color: #0099ff; /* Sky Blue */
    --highlight-color: #FFFF; 
    --background-color: #D3D3D3; /* Light Gray */
}

/*Nav Bar*/
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}

.nav--bar{
    height: 70px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>img{
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.line{
    width: 250px;
    height: 1px;
    background-color: var(--primary-color);
}

.nav--links>ul{
    display: flex;
}

.nav--links li{
    margin: 0 2rem;
}
.nav--links li:hover{
    color: #00243a;
    text-decoration: underline;
    transition: 0.3ms;
}

.hamburger{
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
@media screen and  ( max-width:978px ) {
    .hamburger{
        display:block;
    }
    .nav--bar{
        position: sticky;
        justify-content: space-between;
    }
    .nav--links{
        width: 400px;
        background: var(--highlight-color);
        color: var(--primary-color);
        display: none;
    }
    .nav--links>ul{
        position: absolute;
        top: 50%;
        right: 0%;
        left: 80%;
        flex-direction: column;
        z-index: -1;
    }
    .line{
        display: none;
    }

    .nav--links li{
        margin: 0;
        margin-top: 2rem;
    }
    
}
/*Nav Bar*/


/*Hero Section*/
#hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--highlight-color);
}

/* Video Styles */
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.content {
    padding: 2rem;
    position: relative;
    z-index: 1;
}



.content > h2,
#about-us h2{
    padding-top: 2rem;
    font-size: 26px;
}

.content > h1{
    margin-top: 2rem;
    font-size: 36px;
}

.content > p{
    margin-top: 2rem;
    font-size: 18px;
}

.content > button{
    margin-top: 2rem;
    width: 200px;
    height: 40px;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--highlight-color);
}

#hero > button:hover{
    transition: 0.2s;
    background-color: var(--primary-color);
    border: none;
}
/*Hero Section*/

/*About Us*/
#about-us{
    background-image: url("./assets/campus-347285_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2rem;
    padding: 2rem;
    color: var(--highlight-color);
}

#about-us > div > h2{
    font-size: 40px;
    font-weight: 700;
}

#about-us > div > h3{
    margin-top: 2rem;
    font-size: 30px;
}
#about-us > div > p{
    margin-top: 2rem;
    font-size: 20px;
}



#about-us > div:nth-of-type(2){
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about-us > div:nth-of-type(2)>div{
    padding: 1rem;
    width: 250px;
    height: 150px;
    color: var(--highlight-color);
}

#about-us > div:nth-of-type(2)>div:nth-of-type(1){
    background: var(--accent-color);
}
#about-us > div:nth-of-type(2)>div:nth-of-type(2){
    background: var(--primary-color);
}
#about-us > div:nth-of-type(2)>div:nth-of-type(3){
    background: var(--secondary-color);
}

#about-us > div:nth-of-type(2)>div>p{
    margin-top: 2rem;
}
@media screen and  ( max-width:978px ) {
    #about-us > div:nth-of-type(2){
        flex-direction: column;
    }
    #about-us > div:nth-of-type(2)>div{
        margin-top: 3rem;
    }
}

/*Academics*/
#academics{
    margin-top: 2rem;
}
.academics--info{
    text-align: center;
}
.academics--info>h1{
    font-size: 50px;
    font-weight: 900;
    color: #ed1b2f;
}
.academics--info>p{
    color: #a7a9ac;
}
.ademics--degree{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ademics--degree1,
.ademics--degree2,
.ademics--degree3{
    width: 300px;
    color: var(--primary-color);
}
.degree>div{
    padding: 1.5rem;

}
.degree>div>img{
    width: 250px;
    height: 250px;
    border-radius: 6px;
}
.ademics--degree--info>h3{
    margin-bottom: 1rem;
    font-size: 23px;
}
.ademics--degree--info>p{
    font-size: 19px;
}
/*Admission*/
#admission{
    margin-top: 2rem;
}
.admission--info{
    padding: 1rem;
    background: var(--primary-color);
    color: var(--highlight-color);
}
.admission--info>h1,
#campus--life>div>h1{
    font-size: 40px;
}
.admission--info>p,
#campus--life>div>p{
    margin-top: 2rem;
    font-size: 19px;
}
.admission--info>h3,
#campus--life>div>h3{
    margin-top: 2rem;
    font-size: 30px;
}
.admission--info>ul,
#campus--life>div>ul{
    margin-left: 2rem;
}
.admission--info>ul>li,
#campus--life>div>ul>li{
    margin-top: 2rem;
    list-style-type: square;
}

.apply-section{
    background: #00243a;
    color: var(--highlight-color);
    height: 300px;
    line-height: 2;
}
.apply-section > h3{
    font-size: 30px;
}

.apply-section >ul >li{
    margin-top: 2rem;
}

@media screen and  ( max-width:978px ) {
    #academics{
        margin-top: 4rem;
    }
    .ademics--degree{
        margin-top: 2rem;
        flex-direction: column;
    }
}

/*Campus Life*/
#campus--life{
    margin-top: 2rem;
}
#campus--life >div{
    /*background: linear-gradient(to top right, #333333, #000000);*/
    color: var(--primary-color); 
    padding: 20px;
}

.clubs--activity{
    width: 300px;
}
.club--img{
    cursor: pointer;
    width: 300px;
    height: 300px;
}
.club--img>img{
    width: 100%;
    height: 100%;
}

.testimonial--section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.testimonial {
    background-color: #f9f9f9;
    width: 300px;
    border-radius: 10px;
    color: var(--primary-color);
}
.testimonial p {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 20px;
}
.testimonial img {
    margin-left: 1.2rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.testimonial .name {
    font-weight: bold;
    margin-top: 10px;
}

@media screen and  ( max-width:978px ) {
    .testimonial--section{
        flex-direction: column;
    }
    .testimonial {
        width: 250px;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FFD700; 
}

/*Internal*/
.program--info{
    text-align: center;
}
.program--info > h1{
    font-weight: 700;
    font-size: 40px;
    color: #00243a;
}
.program--info > p{
    font-size: 20px;
    color: #8d8f91;
}

.container{
    padding: 1.5rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 2rem;

}

.degree--title{
    margin-top: 0.5rem;
    font-weight: bold;
    color: #00243a;
}
.degree--info{
    margin-top: 0.5rem;
    padding: 0.2rem;
    width: 25px;
    height: 25px;
    border: 1px solid #a7a9ac;
    border-radius: 7px;
    color: #a7a9ac;
}
.degree--img{
    cursor: pointer;
    width: 385px;
    height: 257px;
} 
.degree--img > img{
    width: 100%;
    height: 100%;
}

@media screen and  ( max-width:978px ) {
    .container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
        justify-items: center;
        align-content: center;
        row-gap: 3rem;
    
    }
    .degree--img{
        max-width: 250px;
       max-height: 257px;
    } 
}
